.pswd{
    margin-top: 50px;
    width: 60%;
}
/* input.form-control::placeholder{
    color: white;
} */
.pswd.input.change{
    color: white;
    font-size: 30px;
}
#exampleInputEmail1::placeholder{
    color:white;
}