@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.Ajo{
text-transform: uppercase;
font-family: 'Roboto', sans-serif;
font-weight: 800;
font-size: 20px;
color: #000000;
}