@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.label{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 28px;
    display: inline-block;
    line-height: 50px;
}
.fullBody{
    background-color: blue;
    background-size: cover;
    background: linear-gradient(rgba(0, 103, 255, 0.72),rgba(0, 103, 255, 0.72)),
                url("/resources/images/Rectangle-25.png");
    
    height: 100%;
}
.new{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
}