.ff-poppin{
    font-family: 'Poppins', sans-serif;
}
.ff-fira{
    font-family: 'Fira Sans', sans-serif;
}
.ff-serif{
    font-family: serif;
}
.fs-10p{
    font-size: 10px;
}
.fs-15p{
    font-size: 15px;
}
.move-home-circle-image{
        margin-top: -140px;
        margin-left: -30px;
}
.text-mog{
    margin-top: -50px;
}
.text-silver{
    color: red;
}
.cursor-pointer{
    cursor: pointer;
}
.rounded-5{
    border-radius: 15px;
}
.rounded-custom{
    border-radius: 20px 15px 0px 20px;
}
.w-20p{
    width: 70px;
}
.h-50p{
    height: 50px;
}
.h-100p{
    height: 100px;
}
.h-150p{
    height: 150px;
}
.h-200p{
    height: 200px;
}
.h-250p{
    height: 250px;
}
.h-300p{
    height: 300px;
}
.bg-success-gradient{
    background: linear-gradient(to bottom right, #1FDB84, #1cbd71, green);
}